.THIS .input{
    vertical-align: bottom;
}
.THIS .displ_reg_addr {
    background: #fff;
    /* border: 1px solid #d9d9d9; */
    padding: 15px;
    position: relative;
    display: table;
    width: 95%;
    margin-left: 30px;
    padding-left: 34px;
}
.THIS .upload_file{
    border: 1px solid;
    border-color: #3d86ca;
    height: auto;
    width: 220px;
    float: right;
    right: 0%;
    position: relative;
    padding: 3px;
    margin-top: -28px;
    margin-right: -73px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .photo_id_attach{
    position: relative;
    float: right;
    right: 45%;
    background: #3d86ca;
    width: auto;
    padding: 0 10px;
    color: #fff;
    display: inline-flex;
    margin-top: -28px;
}
.THIS .photo_id_attach img{
    display: none;
}
.THIS .file-input-box{
	display: table-row-group;
}
.THIS .section_header{
    position: relative;
    width: 95%;
    float: left;
    margin: 0px 30px;
    padding: 30px;
    display: table !important;
}
.THIS .add_btn {
    padding: 13px;
    float: right;
    margin: 0 4% 0 0;
    word-break: break-word;
    width: 25%;
    height: 46px;
    min-width: 100px;
}
.THIS .det_upload{
    display: inline-block;
    margin: 5% 5% 5% 0;
    float: right;
    top: 0;
    left: 0;
    width: 90%;
}
.THIS .uiButton .label {
    display: block;
    margin-top: -5px !important;
}
.THIS .download_btn{
    border: 1px solid;
    border-color: #3d86ca;
    height: auto;
    width: 220px;
    top: 0 !important;
    color: #565656;
    margin-left: 20px!important;
    right: 0%;
    padding: 5px 8px;
    margin-top: -28px;
    margin-right: -34px;
    text-align: left;
    overflow: hidden;
    left: 0;
    background: #fff;
    text-decoration: none;
}
.THIS .docs_details{
    display:inline-block;
    /*width:auto;*/
    width: 35%;
}
.THIS .check_box_btn{
    word-break: break-word;
    width: 81%;
    position:relative;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    padding:12px;
    border: 1px solid #bbbaba;
    font-size: 13.5px;
    text-transform: uppercase;
    margin: 5% auto 5%;
    margin-left: 5%;
   
}
.THIS .myCheckbox{
    float:right;
    position:relative;
    padding-left: 55px;
    width: 100%;
    
}
.THIS .uiInput--checkbox input{
    position: absolute;
    right:0;
    left:0px;
    top: 10px;
    transform: translateY(-50%) translateX(100%);
   
}
.THIS .regi_add_3{
    margin: 19px 0 0 13px;
    line-height: 2;
    width: 90%;
    text-align: justify;
}
/*Mobile Portrait*/
@media only screen
    and (max-device-width: 500px) and (min-device-width: 100px) {
 .THIS .docs_details{
        width: 100%;
    }   
    .THIS .download_btn{
        margin: 0;
        width: auto;
        text-align: center;
        margin-left: 0px!important;
        float: left;
        margin-top: 10px;
    } 
    .THIS .regi_add_3{
        margin: 0;
        width: 98%;
        word-break: break-word;
    }  
}
@media only screen
    and (max-device-width: 500px) and (min-device-width: 100px) {
    .THIS .input{
        padding: 0px;
    }
    .THIS .det_btn{
        max-width: 90%;
    	left: 80px;
    }
    .THIS .add_btn{
        width: 100%;
        margin: 5% 6%;
        float: none;
    }
    .THIS .file-input-box{
        width:80%;
    }
    .THIS .check_box_btn{
        width: 100%;
        margin: 20% 0 10% 0;
    }
    .THIS .upload_file{
        border: 1px solid;
        border-color: #3d86ca;
        height: auto;
        width: 55%;
        float: left;
        right: 0%;
        position: relative;
        padding: 5px;
        margin: 5% 2% 0 10%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .THIS .photo_id_attach{
        position: relative;
        float: left;
        right: 0;
        background: #3d86ca;
        width: 15%;
        padding: 5%;
        color: #fff;
        display: inline-flex;
        margin: 2% 0 1% 0;
    }
    .THIS .photo_id_attach img{
    	display: block;
}
}
@media only screen
    and (max-device-width: 750px) and (min-device-width: 501px) {
    .THIS .input{
        padding: 0px;
    }
    .THIS .det_btn{
        max-width: 90%;
    	left: 80px;
    }
    .THIS .add_btn{
        width: 70%;
        margin: 5% 20%;
        float: none;
    }
    .THIS .file-input-box{
        width:80%;
    }
     .THIS .check_box_btn{
        width: auto;
        margin: 10% 10% 0 10%;
        float: none;
    }
    .THIS .upload_file{
        border: 1px solid;
        border-color: #3d86ca;
        height: auto;
        width: 55%;
        float: left;
        right: 0%;
        position: relative;
        padding: 5px;
        margin: 5% 2% 0 10%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .THIS .photo_id_attach{
        position: relative;
        float: left;
        right: 0;
        background: #3d86ca;
        width: 15%;
        padding: 5%;
        color: #fff;
        display: inline-flex;
        margin: 2% 0 1% 0;
    }
    .THIS .photo_id_attach img{
    	display: block;
}
     .THIS .regi_add_3{
        margin: 5% auto;
        width: 80%;
        word-break: break-word;
        float: none;
    }   
}
@media only screen
    and (max-device-width: 1200px) and (min-device-width: 751px) {
    .THIS .file-input-box{
            width: 80%;
    }
    .THIS .regi_add_3{
        margin: 0;
    }
    .THIS .photo_id_attach{
        position: relative;
        float: left;
        right: 0;
        background: transparent;
        width: 20%;
        padding: 3% 0 3% 0;
        display: inline-flex;
        margin: 1% auto;
    }
    .THIS .upload_file{
        border: 1px solid;
        border-color: #3d86ca;
        height: auto;
        width: 45%;
        float: left;
        right: 0%;
        position: relative;
        padding: 12px;
        margin: 4.5% 2% 0 10%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
     .THIS .check_box_btn{
        margin: 5% 0 10% 0;
        width: 40%;
    }
    .THIS .add_btn{
        width: 35%;
    }
    .THIS .regi_add_3{
    margin: 15px 0 0 30px;
    line-height: 2;
    width: 94%;
    text-align: justify;
   }
   .THIS .address_text{
    width: 100%;
   }
}