.THIS.registration_wrapper {
    background-color: #f5f5f5;
} 
.THIS .clinic-registration {
    padding: 0px 30px 0px 30px;
    background: #fff;
}
.THIS .list-group{
        margin-bottom: 0px;
}
.THIS .clinic-details .btnSubmit{
    margin-bottom:10px;
    margin-right: 20%;
}
.THIS.registration_wrapper .container .section-text{
    margin-bottom: 0;
    color: #2c5596;
    font-weight: 600;
    text-align: CENTER;
}
.THIS .container .list-group-item {
    padding: 10px 60px !important;
}
.THIS .container .edit-det,.THIS .container .back,.THIS .container .add-clinic, .THIS .container .save, .THIS .container .cancel {
    width: 30% !important;
    float: left;
    position: relative;
    padding: 6px !important;
    border-radius: 6px !important;
}
.THIS .container .btn_hide{
  visibility: hidden;  
}
.THIS .container .edit-det span, .THIS .container .back span, .THIS .container .add-clinic span, .THIS .container .save span, .THIS .container .cancel span{
    padding:0 ;
}
.THIS .log-btn{
    padding:0 !important;
}
.THIS .header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
}
.THIS .header-right {
    float: right;
}
.THIS .container {
    margin: 150px auto;
}
.THIS div[data-acc-content] {
    display: none;
}
.THIS div[data-acc-step]:not(.open) {
    background: #f2f2f2;
    visibility: hidden;
}
.THIS div[data-acc-step]:not(.open) h5 {
    color: #777;
}
.THIS div[data-acc-step]:not(.open) .badge-primary {
    background: #ccc;
}
.THIS  -webkit-input-container:not( .webkit-input-has-value) input:not(:focus) {
    color: transparent;
}
.THIS .timelabeldisplay {
    display : none;
}
.THIS .col-md-3{
    min-height: 95px !important;
}
.THIS .time-field{
    margin-top: 0;
}
.THIS .cAGN_ICL_RejectionDetailInputField select{
    min-height: 37px !important;    
}
.THIS .time-field .slds-input{
    border: 0;
    padding: 4px 0;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	z-index: 1;
	position: absolute;
}
.THIS .time-field .slds-input > label {
	position: absolute;
	left: 0;
	width: 100%;
	top: 9px;
	color: #fff;
	transition: 0.3s;
	z-index: 0;
	letter-spacing: 0.5px;
	padding-left: 10%;
	font-weight: 300;
	font-size: 15px;
}

.THIS .time-field .slds-input:focus > label,
.THIS .time-field .slds-input > label {
	top: -8px;
	font-size: 12px;
	color: #fff;
	transition: 0.3s;
}
.THIS .time-field .slds-input:focus {box-shadow: none;}
.THIS input[type="text"]:disabled, .THIS input[type="url"]:disabled, .THIS input[type="tel"]:disabled {opacity: 0.6;}
.THIS .input-effect{margin:0;}
.THIS .cAGN_ICL_RejectionDetailPage .col-md-3 {
    min-height: 100px!important;
}
.THIS .has-content.effect-16 ~ label {
	top: -8px;
	font-size: 12px;
	color: #fff;
	transition: 0.3s;
}
.THIS .slds-form-element__control .slds-checkbox{float: left;}
.THIS .slds-form-element__label.slds-form-element__legend{    
    border-bottom: none;
    font-size: 15px;
    color: #2c5596;
    font-weight: normal;}
.THIS .slds-form-element__label{
    font-size: 14px;
    font-weight: normal;
	color: #2c5596;
}
.THIS .slds-checkbox__label{
    margin-top: 7px;
}

.THIS .slds-button+.slds-button {
    margin-left: 0;
}
.THIS .list-group-item{
    overflow: auto;
}
.THIS .slds-size_3-of-12 {
    width: 45%;
}
.THIS .weekday .col-md-4 .form-group {
    margin-top: 0;
}
.THIS .slds-input__icon-group {
    margin-top: 0.5rem;
}
.THIS input[type=checkbox]:checked {
    background-color: rgb(21, 137, 238) !important;
}
.THIS .glyphicon{
    color: #fff;
}
.THIS .slds-form-element__legend:after {
    position: absolute;
    content: "*";
    color: red;
    font-size: 13px;
    font-weight: 700;
    margin-top: 1px;
    margin-left: 2px;
}
.THIS lightning-checkbox-group fieldset legend.slds-form-element__label {
    position: relative;
    display: inline-block;
    width: auto;
}
.THIS lightning-checkboxgroup_checkboxgroup{
    margin-top: 30px;
}
.THIS .clinic_image_file{
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 2px;
}
.THIS .custom-file-label {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 150px;
    height: 150px;
    margin: 0;
    display: none;
}
.THIS .slds-file-selector__body .slds-file-selector__text{
    display: none;
}
.THIS .slds-file-selector__dropzone{
    border: 0;
}
.THIS #img_contain:hover .custom-file-label {
    display: block;
}
.THIS .edit-txt{
    display: block;
    text-align: center;
    top: 45%;
    position: relative;
}
.THIS span {
    /*color: #2c5596;*/
    display: inline-flex;
}
.THIS .required {
    color: red;
    margin-left: 2px;
}
.THIS .check_input_wrap {
    padding-top: 0;
}
.THIS .form-group {
    margin-top: 0!important;
}
.THIS .section-timing, 
.THIS .form-group, 
.THIS .form-group .day-label {
    margin: 0;
}
.THIS .uiInput--checkbox input[type=checkbox][disabled], 
.THIS input.uiInput--checkbox[type=checkbox][disabled],
.THIS .uiInput--checkbox input[type=checkbox], 
.THIS input.uiInput--checkbox[type=checkbox] {
    width: 16px;
    height: 16px;
    margin: 2px 0 0;
}
.THIS .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox--faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox--faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox_faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox]~.slds-checkbox--faux, 
.THIS .slds-form-element .slds-checkbox [type=checkbox]~.slds-checkbox_faux {
    width: 16px;
    height: 16px;
}
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox__label .slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked+.slds-checkbox_faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox--faux:after, 
.THIS .slds-checkbox [type=checkbox]:checked~.slds-checkbox_faux:after{
    height: .5rem;
    width: .75rem;
    top: 48%;
}
.THIS .section-timing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.THIS .slds-checkbox__label .slds-form-element__label {
    font-size: 14px;
    position: relative;
}
.THIS .section-timing .weekday {
    margin: 15px 0;
}
.THIS .section-timing .weekday .col-md-6, 
.THIS .section-timing .weekday .col-sm-6 {
    padding: 0 10px;
}
.THIS .section-timing .weekday .col-md-6 .col-md-2 {
    padding: 0!important;
}
.THIS .weekday .form-group {
    margin: 0;
}
.THIS .weekday .col-md-6 .col-md-2 label:nth-child(1) {
    width: 100%;
}
.THIS .weekday .form-group,
.THIS .weekday .time-field {
    margin: 0;
}
.THIS .slds-assistive-text, 
.THIS label.slds-form-element__label {
    display: none;
}
.THIS .time-field .slds-input {
    border: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    z-index: 1;
    position: absolute;
}
.THIS .container .slds-input__icon-group_right {
    margin: 0;
}
.THIS .drop-down-block {
    margin: 0;
    position: relative;
}
.THIS .drop-down-block:after {
    top: 50%;
    right: 3%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin: 0;
    z-index: 100;
    transform: translateY(-50%);
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options{
    max-height: 100px;
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options ul{
    font-size: 12px;
}
.THIS .slds-dueling-list__column {
    justify-content: center;
    margin: 0 5px 0 0;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type {
    margin-top: 5px;
}
.THIS .slds-dueling-list__column .slds-button {
    border: 1px solid #dddbda;
}
.THIS .slds-dueling-list__column.slds-dueling-list__column_responsive .slds-form-element__label {
    font-size: 12px;
}
.THIS .weekday .weekday-label{
    padding-right:0px;
}
.THIS .uiInput--select.select:not([multiple]){    
    opacity: 1 !important;
}
/* Media Queries */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {  
    .THIS .registration_wrapper .container .list-group-item {
        padding: 10px 0px;
    }
    .THIS .practioner-details-wrapper {
        border: 1px solid #ddd;
        margin-left: 3%;
        margin-right: 3%;
	}
}
@media only screen and (min-device-width : 300px) and (max-device-width : 900px) {  
    .THIS .mobileview{
        min-height: 40px!important;
        padding-left: 30px!important;     
    }
   
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {  
    .THIS .weekday .col-md-5 {
        width: 41%;
        padding-left: 12%;
    }
    .THIS .col-md-3 {
    min-height: 115px!important;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {  
    .THIS .container .reg-submit{
            margin: 5%!important;
    }
	.THIS .weekday .form-group{
        margin-bottom:0;
    }
    .THIS .slds-no-flex {
    	display: none;
	}
    .THIS .timing-label{
        padding-bottom: 25px;
    }
    .THIS .time-field .slds-input{
        position: relative;
    }
    .THIS.registration_wrapper .container .weekday .col-sm-6 .col-sm-12, 
    .THIS.registration_wrapper .container .weekday .col-sm-6 .col-sm-6, 
    .THIS.registration_wrapper .container .weekday .col-sm-6 .col-sm-5 {
        padding: 0 10px 5px 0;
    }
}
@media only screen and (max-device-width: 500px) and (min-device-width: 100px) and (orientation: portrait){
    .THIS .clinic-registration {
        padding: 15px;
        background: #fff;
    }
    .THIS .container .list-group-item {
        padding: 10px 30px !important;
    }
    .THIS .col-md-3 { 
        min-height: 68px!important;
    }
    .THIS .container .reg-submit{
        width: 85%!important;
        margin-right: 4%;
    }
    .THIS .allergan-logo {
        width: 135px;
        background-size: contain;
    }
    .THIS .logo-txt{
        font-size: 13px;
        margin: 0px 16px;
    }
    
    .THIS .section-timing .weekday {
        margin: 0;
    }
    .THIS .weekday .form-group {
        margin-bottom: 0 !important;
    }
    .THIS .weekday .col-md-2 .form-group{
        padding: 0 10px 0 0;
    }
    .THIS .iframe_wrapper{
        padding: 12%;
    }
     .THIS .weekday label {
        margin-bottom: 0px; 
        margin-left: 0;
        padding-top: 0;
    }
    .THIS .weekday:last-child{
        padding-bottom: 15% !important;
    }
    .THIS .time-field .slds-input{
        position: relative;
    }
    .THIS.registration_wrapper .container .weekday .col-xs-12{
        padding: 10px;
    }
    .THIS.registration_wrapper .container .weekday .col-xs-12 .col-xs-12, 
    .THIS.registration_wrapper .container .weekday .col-xs-12 .col-xs-6 {
        padding: 0px 10px 0 0;
    }
    .THIS.registration_wrapper .container .list-group .my-3 .row-section-clinic .columns .input-effect .form-control{
        color: #000000;
        font-size: 14px;
    }
    .THIS .timelabeldisplay{
        display: inline-block;
    }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px)
    {
.THIS .weekday .col-md-6 .col-md-2 label:nth-child(1) {
    width: auto;
}
}