.THIS body{background-color: #f5f5f5;}
.THIS.registration_wrapper {
    background-color: #f5f5f5;
}      
.THIS.registration_wrapper .container{    
    width: 100%;
}
.THIS .header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
}
.THIS .header-right {
    float: right;
}
.THIS .container {
    margin: 150px auto;
}
.THIS div[data-acc-content] {
    display: none;
}
.THIS div[data-acc-step]:not(.open) {
    background: #f2f2f2;
    visibility: hidden;
}
.THIS div[data-acc-step]:not(.open) h5 {
    color: #777;
}
.THIS div[data-acc-step]:not(.open) .badge-primary {
    background: #ccc;
}
.THIS  -webkit-input-container:not( .webkit-input-has-value) input:not(:focus) {
    color: transparent;
}
.THIS .col-md-3{
    min-height: 95px !important;
}
.THIS .time-field{
    
    margin-top: 0;
}
.THIS .cAGN_ICLInputFieldForOAM select{
    min-height: 33px!important;
    margin-top: 10%;
    padding: 0 !important;   
    
}
.THIS lightning-timepicker .slds-input{
    border: 0;
    padding: 4px 0;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	z-index: 1;
	position: absolute;
}
.THIS lightning-timepicker .slds-input > label {
	position: absolute;
	left: 0;
	width: 100%;
	top: 9px;
	color: #fff;
	transition: 0.3s;
	z-index: 0;
	letter-spacing: 0.5px;
	padding-left: 10%;
	font-weight: 300;
	font-size: 15px;
}

.THIS lightning-timepicker .slds-input:focus > label,
.THIS lightning-timepicker .slds-input > label {
	top: -8px;
	font-size: 12px;
	color: #fff;
	transition: 0.3s;
}
.THIS lightning-timepicker .slds-input:empty{}
.THIS lightning-timepicker .slds-input:focus {box-shadow: none;}
.THIS input[type="text"]:disabled, .THIS input[type="url"]:disabled {opacity: 0.6;padding-left: 5px;}
.THIS .input-effect{margin:0;}
.THIS .cAGN_ICL_TestRegForm .col-md-3 {
    min-height: 100px!important;
}
.THIS .check-input{
    margin-top: 10px;
}

.THIS .slds-form-element__control .slds-checkbox{float: left;}
.THIS .slds-form-element__legend{    
    border-bottom: none;
    font-size: 15px;
    color: #2c5596;
    font-weight: normal;}
.THIS lightning-checkbox-group fieldset{   
    margin-left: 7px;
    margin-top: 15px;
}
.THIS .slds-form-element__label{
    font-size: 14px;
    font-weight: normal;
	color: #2c5596;
}
.THIS .slds-checkbox__label{
    margin-top: 7px;
}

.THIS .slds-button+.slds-button {
    margin-left: 0;
}
.THIS .list-group-item{
    overflow: auto;
}
.THIS .slds-size_3-of-12 {
    width: 45%;
}
.THIS .weekday .col-md-4 .form-group {
    margin-top: 0;
}

.THIS .slds-input__icon-group {
    margin-top: 0.5rem;
}
.THIS input[type=checkbox]:checked {
    background-color: rgb(21, 137, 238) !important;
}

.THIS .glyphicon{
    color: #fff;
}
.THIS .checkboxgroup .slds-form-element__control{
        position: absolute;
    left: 60px;
    top: -5px;
}
.THIS .terms_wrapper{
    border: 1px solid #ddd;
    padding: 20px 10px;
    text-align: left;
}
.THIS .terms_check{
    float: left;
    margin-right: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
    transform: translateY(50%) translateX(50%);
    display: block;
    width: 2rem;
    height: 2rem;
}
.THIS .terms_wrapper .uiLabel-left{
    font-weight: normal;
    float: right;
    position: relative;
    padding-left: 35px;
    width: 100%;
}
.THIS .slds-modal__container .slds-modal__footer button{
    font-weight: 600;
    color: #fff;
    background: #43af2a;
    font-size: 14px;
    text-shadow: none;
    padding: 7px;
    margin-right: 1%;
    width: 20%;
}
.THIS .timelabeldisplay {
    display : none;
}
.THIS .has-content.effect-16 ~ label {
	top: -8px;
	font-size: 12px;
	color: #fff;
	transition: 0.3s;
}

.THIS .timelabeldisplay {
    display : none;
}
.THIS.spinnerLoad{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

 .THIS .uiInput--input.input:focus, .THIS .uiInput--input .input:focus, .THIS .uiInput--input.input:active, .THIS .uiInput--input .input:active{
    background: transparent;
}
.THIS .g-recaptcha{
    float:right;
}
.THIS .reg-submit{
    position: absolute;
    top: 20px;
    width: 50%!important;
    float: right;
    left: 40%;
    border-radius: 6px!important;
}
.THIS fieldset::before {
  content: "* ";
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}
.THIS .slds-form-element__legend{
    position: absolute;
}
.THIS .gcap-submit{
    margin-top: -590px !important;
    margin-left: -40px;
}
.THIS .weekday .col-md-6 .col-md-2 label:nth-child(1) {		
    width: 100%;		
}		
.THIS .btn_navig button{
        width: 40%!important;
    float: right;
    padding: 2px!important;
    border-radius: 6px!important;
}
.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    display: inline-flex;
    font-size: 12px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {		
        .THIS .weekday .col-md-6 .col-md-2 label:nth-child(1) {		
                        width: auto;		
        }		
}
@media only screen and (max-device-width: 500px) and (min-device-width: 100px) and (orientation: portrait){
    .THIS .container .list-group-item {
        padding: 10px 30px !important;
    }
    .THIS .col-md-3 { 
        min-height: 68px!important;
    }
    .THIS .container .reg-submit{
            width: 65%!important;
        margin-top:-17px !important;
    }

    .THIS .weekday .form-group {
        margin-bottom: 0 !important;
    }
    .THIS .weekday .col-md-2 .form-group{
        padding: 10% 0% 0;
    }
    .THIS .iframe_wrapper{
        padding: 12%;
    }
     .THIS label {
        margin-bottom: 0px; 
    }
     .THIS  .mob_label{
    	margin-top: 25px;
	}
}