.THIS ul {
    list-style: none;
}
.THIS li {
    display: inline-block;
    margin-right: 15px;
}
.THIS input {
    position: absolute;
  opacity: 0;
  width: 5;
  height: 5;
}
.THIS label {
    cursor: pointer;
}
.THIS input:checked + label {
    background: green;
}