.THIS .slds-scrollable_y{
   max-height: 10000px !important;
}

.THIS .abbr[data-original-title]{
	border-bottom:0px;
}

.THIS .slds-required{
	border-bottom:none;
    display:none;
}



.THIS .slds-has-error .slds-input{
    box-shadow: rgb(62, 81, 180) !important;
    border-color: rgb(62, 81, 180);
}

.THIS .regNumber .slds-assistive-text{
   display: none;
}

.THIS .regNumber .slds-no-flex{
   display: none;
}




.THIS .gradientNext{
    /*background: linear-gradient(to right, rgb(201, 199, 197) 20%,#777 100%,#d4d4d4 60%) !important;*/
    background-color: #d4d4d4 !important;
    box-shadow: none;
}

.THIS .slds-dropdown{
    font-size:24px;
}

/*.THIS .slds-icon-utility-down{
    margin-right: 25px;
}*/

.THIS .slds-dropdown {
     margin-left: 0%;
    width: 100%;
}

.THIS.slds-dropdown_fluid {
   margin-left: 10%;
    width: 85%;
}

.THIS .slds-dropdown_left .slds-listbox_vertical{
   margin-left: 10%;
    width: 85%;
}
.THIS  .privacy {
	    margin-right: 5%;
}



/*.THIS .slds-listbox_vertical{
   margin-left: 10%;
    width: 85%;
}*/