.THIS .login_user::-webkit-input-placeholder, .THIS .login_pass::-webkit-input-placeholder {
     
  font-size: 12px !important;
}

.THIS .add_text
{
    font-size: 25px!important;
}
.THIS .LoginButton {
    width: 452px;
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
    color: #ffffff;
    background-color: #000000;
    margin-top: 50px;
    margin-left: 401px;
    margin-bottom: 150px;
}
.THIS .loginlink_btn, .THIS .login_user
{
    margin-left: 0px !important;
    margin-right: 0px !important;
 
}
.THIS .zinc-code{
        text-align: left;
}